<!doctype html>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <!-- Google Fonts Roboto -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
        <!-- Your custom styles (optional) -->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>

    <body>
        <!-- As a heading -->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">
          <span class="navbar-brand">Thermal Cam - AI</span>
        </nav>
        <!-- Card -->
        <div class="card promoting-card">

          <!-- Card content -->
          <div class="card-body d-flex flex-row">

            <!-- Avatar -->
            <img src="https://cdn3.vectorstock.com/i/1000x1000/84/72/thermometer-measure-temperature-icon-vector-14208472.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

            <!-- Content -->
            <div>

              <!-- Title -->
              <h4 class="card-title font-weight-bold mb-2"><label for="formControlRange" class="text-lg-left"><b>Temperature</b> <i class="fas fa-thermometer-half"></i>: <span id="avgTemp" class="text-lg-left"> &#8451;</span></label></h4>
              <!-- Subtitle -->
              <p class="card-text"><i class="far fa-clock pr-2"></i><small class="text-muted" id="duration"></small></p>

            </div>

          </div>

          <!-- Card image -->
          <div class="view overlay">
            <div class="image-stack">
              <div class="image-stack__item image-stack__item--top">
                <img class="card-img-top rounded-0 embed-responsive-item" id="camera" src="" alt="Card image cap">
              </div>
              <div class="image-stack__item image-stack__item--bottom">
                <img class="card-img-top rounded-0 embed-responsive-item" id="image" src="" alt="Card image cap">
              </div>
            </div>
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>

        <!-- Card -->
        <div class="card promoting-card">

          <!-- Card content -->
          <div class="card-body d-flex flex-row">

            <!-- Avatar -->
            <img src="https://cdn3.vectorstock.com/i/1000x1000/53/47/face-id-line-icon-face-recognition-vector-21865347.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

            <!-- Content -->
            <div>

              <!-- Title -->
              <h4 class="card-title font-weight-bold mb-2"><span class="text-lg-left" id="maskIndicator"> </span></h4>
              <!-- Subtitle -->
              <p class="card-text"><i class="far fa-clock pr-2"></i><small class="text-muted" id="duration2"></small></p>

            </div>

          </div>

          <!-- Card image -->
          <div class="view overlay">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

        </div>
    </body>

    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
    <!-- Your custom scripts (optional) -->
    <script src="{{ url_for('static', filename='index.js') }}""></script>
</html>
